@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
}

.line {
  width: 100%;
  height: 1px;
  background: white;
  display: block;
}

.v-line {
  width: 1px;
  height: 100%;
  background: white;
  display: block;
}

.py {
  padding: 1rem 0;
}

.right-sec li {
  gap: 0.5rem;
}

.search-bar {
  padding: 0.3rem 0.8rem;
}

.mid-sec ul {
  padding: 0 0.5rem;
}

.top {
  padding: 0.2rem 3rem;
}

.mid {
  padding: 0.5rem 3rem;
}

.buttons li {
  gap: 0.3rem;
}

.new-it {
  gap: 0.2rem;
  font-size: 0.5rem;
}

.bot {
  padding: 1rem 0;
}

.mid-sec ul li {
  padding: 0.2rem 0;
  align-items: center;
  display: flex;
}

.outlet {
  padding: 5rem 0;
  gap: 2rem;
}

.photos img {
  border-radius: 0.5rem;
}

.prod-categ {
  padding: 3rem 0;
}

.prod-card {
  padding: 1rem;
  box-shadow: 0px 0px 15px -2px #54beff;
  border-radius: 0.3rem;
}

.prod-categ button,
.serv-categ button {
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  color: white;
  background-image: linear-gradient(to right, #ff4a2f, #f6aa4b)
}

.stats {
  background-image: linear-gradient(to right, #ff4a2f, #f6aa4b);
}

.row1 div {
  padding: 0.5rem;
}

.row2 div {
  padding: 1rem;
}

.stats-bot {
  border: 1px solid white;
  padding: 1rem;
}

.row1 div h1 {
  font-size: 2.5rem;
}

.stats-top {
  padding: 1rem 0;
}

.stats,
.serv-categ {
  padding: 0.5rem 0;
  padding-bottom: 3rem;
}

.footer {
  padding: 5rem 1rem;
  margin: 0 auto;
}

.foot-wrap {
  margin-top: 3rem;
  border-top: 1px solid #d8d5d5;
}

.log-sec button {
  padding: 0.5rem 2rem;
  margin: 0 auto;
  margin-right: 0;
}

.log-top input {
  width: 100%;
  background: #cbcbcb;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.log-mid input {
  padding: 0.5rem 1rem;
}

.log-sec {
  padding: 1rem 1.5rem;
}

.float h2 {
  padding: 0.5rem;
}

.btns img {
  width: 1.8rem;
}

.not-reg {
  padding: 0.5rem 3rem;
}

.help {
  padding: 2rem 4rem 6rem;
}

.float {
  top: 9%;
  right: 0;
}

.process {
  margin: 0 auto;
  padding: 1rem 1.5rem;
  margin-top: 2rem;
}

.signup-top {
  padding: 1.5rem 3.5rem;
}

.redirect,
.login {
  padding: 1rem 0rem;
}

.pre-req {
  border: 1px solid rgb(206, 204, 204);
  padding: 2rem 1rem;
}

.io select {
  padding: 0.5rem 1rem;
  background: white;
  border: 1px solid #b5b5b5;
  color: #767676;
}

.io button {
  padding: 0.5rem 2rem;
}

.signup-bot {
  padding: 1rem 4rem;
}

.serv-bot {
  padding-top: 3rem;
  border-top: 1px solid gray;
}

.serv-categ {
  border: 1px solid gray;
  padding: 2rem 0;
  margin-bottom: 5rem;
  margin-top: 2rem;
}

.signup-drop {
  border: 1px solid gray;
  padding: .5rem 0.7rem;
  border-radius: 0.5rem;
  right: 5%;
  top: 48%;
  display: none;
  cursor: pointer;
}

.signup:hover .signup-drop {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.signup:hover img {
  rotate: 180deg;
}

.signup {
  cursor: pointer;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  z-index: 10;
}

.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.5);
}

.swiper-pagination-bullet-active {
  background-color: white;
}

.nav-btns {
  display: none;
}

.heading img {
  margin: 0 auto;
}

.mob-top {
  padding: 0.7rem 1rem;
}

.close {
  width: 2rem;
}

.mob-bot div,
.div {
  padding: 0.5rem 0rem;
  border-bottom: 1px solid rgb(199, 199, 199);
}

.mob-bot {
  width: 80%;
  margin: 0 auto;
}

.mob-log {
  padding: 0.5rem 1rem;
}

@media (max-width:1024px) {
  .mid {
    flex-wrap: wrap;
    justify-content: center;
  }

  .mid .py {
    width: 16rem;
  }

  .row1 {
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5rem;
  }

  .services {
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
}

@media (max-width:1020px) {
  .help {
    width: 60%;
  }
}

@media (max-width:930px) {
  .top {
    display: none;
  }

  .nav-btns {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    position: absolute;
    width: 100%;
  }

  .bot {
    display: none;
  }

  .cont-line {
    display: none;
  }

  .mid {
    padding: 2rem 3rem;
    padding-bottom: 2rem;
  }
}

@media (max-width:876px) {
  .help {
    display: none;
  }

  .float {
    position: static;
    width: 80%;
    margin: 0 auto;
    padding: 3rem 0;
  }

  .log-con {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width:800px) {
  .search-bar {
    padding: 0.5rem 1rem;
  }

  .right-sec {
    display: none;
  }

  .mid-sec {
    width: 100%;
  }
}


@media (max-width:530px) {
  .serv-categ h1 {
    font-size: 1.75rem;
  }
}
@media (max-width:472px) {
  .mid-box input{
    width: 100%;
  }
}
@media (max-width:450px) {
  .heading img {
    width: 18rem;
  }

}

@media (max-width:426px) {
  #course {
    display: none;
  }
}

@media (max-width:412px) {
  .mid .py {
    width: 12rem;
  }

  .heading img {
    width: 12rem;
  }

  .heading h1 {
    font-size: 1rem;
  }

  .photos {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }

  .cards {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }

  .footer {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }

  .prod-categ h1 {
    font-size: 1.3rem;
  }

  .serv-categ h1 {
    font-size: 1.2rem;
    text-align: center;
  }

  .prod h2 {
    font-size: 0.7em;
  }

  .stats-top h1 {
    font-size: 1.3rem;
  }

  .row1 div h1 {
    font-size: 1.2rem;
  }

  .row1 div p,
  .row2 p {
    font-size: 0.8rem;
  }

  .prod img,
  .row2 img {
    width: 1.8rem;
  }

  .title {
    font-size: 1rem;
  }

  .desc {
    font-size: 0.7rem;
  }
}

@media (max-width:315px) {
  .mid-sec ul {
    padding: 0;
    justify-content: space-between;
  }
}

@media (max-width:294px) {
  .mid {
    padding: 0rem 1rem;
    padding-bottom: 2rem;
  }
}